@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: #222;
  color: #fafafa;
  text-align: center;
}

h1 {
  font-family: "Darker Grotesque";
  font-size: 64px;
  margin: 15px;
  letter-spacing: 4px;
}

p {
  font-family: "Inter";
  line-height: 150%;
}

.container {
  top: 30%;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.social-media-link {
  font-size: 32px;
}

.font-awesome {
  color: #fafafa;
  margin: 0 16px;
}

.animate-hover {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.animate-hover:hover {
  opacity: 0.6;
  cursor: pointer;
}
